@import "../mixins";

.book {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  gap: 20px;
  flex-wrap: wrap;

  &__score {
    display: flex;
    justify-content: start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }

  &__name {
    font-weight: var(--text-bold_m);
    font-size: var(--font-size-m);
    line-height: 27px;
    color: var(--dark-grey);
    text-decoration: none;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    font-size: var(--font-size-xs);
    line-height: 21px;
    color: var(--grey);
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include mobile-s {
  .book {
    flex-wrap: nowrap;

    &__name {
      text-align: left;
    }
  }
}