.footnote {
  font-weight: var(--text-bold_m);
  font-size: var(--font-size-m);
  line-height: 27px;
  color: var(--dark-grey);

  &--sm {
    font-size: var(--font-size-s);
    line-height: 24px;
  }

  &--addition {
    font-size: var(--font-size-s);
    line-height: 24px;
    color: var(--contrast);
  }

  &--addition_sm {
    font-size: var(--font-size-xs);
    line-height: 21px;
    color: var(--contrast);
  }
}