@import "../mixins";

.search {
  display: none;
  border-radius: var(--border-radius-m);
  background: var(--bg);
  flex: 2;

  &__input {
    border-radius: var(--border-radius-m);
    background: var(--bg);
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: var(--font-size-m);
    line-height: 27px;
    color: var(--dark-grey);
    padding: 15px 20px;

    &::placeholder {
      color: var(--placeholder);
    }

    &:focus,
    &:hover {
      outline: none;
    }
  }

  &__icon {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    order: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@include desktop {
  .search {
    display: inline-flex;
  }
}